.BGcolor {
    background-color: rgba(197, 225, 239, 0.402);
    
}

/*CSS pa las weather card*/
.weather-card .card-img-overlay .wrapper {
    padding: 5px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.weather-card .card-img-overlay .wrapper .mynav {
    height: 20px;
}

.weather-card .card-img-overlay .wrapper .mynav .lnr {
    color: aliceblue;
    font-size: 20px;
}

.weather-card .card-img-overlay .wrapper .mynav .lnr-chevron-left {
    display: inline-block;
    float: left;
}

.weather-card .card-img-overlay .wrapper .mynav .lnr-cog {
    display: inline-block;
    float: right;
}

.weather-card .card-img-overlay .wrapper .heading {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 400;
    color: aliceblue;
}

.weather-card .card-img-overlay .wrapper .location {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 400;
    color: aliceblue;
}

.weather-card .card-img-overlay .wrapper .temp {
    margin-top: 20px;
}

.weather-card .card-img-overlay .wrapper .temp a {
    text-decoration: none;
    color: aliceblue;
}

.weather-card .card-img-overlay .wrapper .temp .temp-type {
    font-size: 85px;
}

.weather-card .card-img-overlay .wrapper .temp .temp-value {
    display: inline-block;
    font-size: 85px;
    font-weight: 600;
    color: aliceblue;
}

.weather-card .card-img-overlay .wrapper .temp .deg {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    color: aliceblue;
    vertical-align: top;
    margin-top: 10px;
}

.weather-card .card-img-overlay::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.3);
}

.card-body {
    z-index: 1;
    background: #ffffff;
}

.card-img {
    opacity: 70%;
}

.weather-card .card-body .wrapper .forecast {
    overflow: hidden;
    margin: 0;
    font-size: 0;
    padding: 0;
    padding-top: 20px;
    max-height: 155px;
}

.weather-card .card-body .wrapper .forecast a {
    text-decoration: none;
    color: #000;
}

.weather-card .card-body .wrapper .forecast .go-up {
    text-align: center;
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

.weather-card .card-body .wrapper .forecast li {
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.25);
    line-height: 1em;
    margin-bottom: 15px;
}

.weather-card .card-body .wrapper .forecast li .date {
    display: inline-block;
}

.weather-card .card-body .wrapper .forecast li .condition {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    float: right;
}

.weather-card .card-body .wrapper .forecast li .condition .temp {
    display: inline-block;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 2px;
}

.weather-card .card-body .wrapper .forecast li .condition .temp .deg {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    margin-left: 3px;
    vertical-align: top;
}

.weather-card .card-body .wrapper .forecast li .condition .temp .temp-type {
    font-size: 20px;
}

.weather-card .card-body .wrapper .forecast li.active {
    color: rgba(0, 0, 0, 0.8);
}
/*Fin CSS pa las weather card*/

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-inner {
  padding: 2rem;
  margin: auto;
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-control-next, .carousel-control-prev {
  width: 2rem;
}

.img-navbar {
    margin-right: 2px;
    width: 40px;
}

.img-logo {
    width: 100px;
}

.bannerHeader {
    margin-top: 66px;
}

.bannerImage {
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
}

.clock div {
    margin: 5px;
}

.clock span {
    height: 30px;
    width: 30px;
    background-color: rgba(44, 192, 255, 0.438);
    display: flex; 
    justify-content: center;
    align-items: center;
}

/*CSS PRONOSTICO*/

 .stretch-card>.card {
     width: 100%;
     min-width: 100%
 }

  .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

.grid-margin, .purchace-popup > div {
    margin-bottom: 25px;
}

.card {
    border: 0;
    border-radius: 2px;
}

.card-weather {
    background: #e1ecff;
    background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}


.card-weather .card-body:first-child {
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1557323760/weather.svg) no-repeat center;
    background-size: cover;
}

.card .card-body {
    padding: 1.88rem 1.81rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-weather .weather-date-location {
    padding: 0 0 38px;
}

.h3, h3 {
    font-size: 1.56rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.text-gray, .card-subtitle, .new-accounts ul.chats li.chat-persons a p.joined-date {
    color: #969696;
}

p {
    font-size: 13px;
}

.text-gray, .card-subtitle, .new-accounts ul.chats li.chat-persons a p.joined-date {
    color: #969696;
}

.card-weather .weather-data {
    padding: 0 0 4.75rem;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.display-3 {
    font-size: 2.5rem;
}

.card-weather .card-body {
    background: #ffffff;
}

.card-weather .weakly-weather {
    background: #ffffff;
    overflow-x: auto;
}

.card-weather .weakly-weather .weakly-weather-item {
    flex: 0 0 14.28%;
    border-right: 1px solid #f2f2f2; 
    padding: 1rem;
    text-align: center;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
 
.card-weather .weakly-weather .weakly-weather-item i {
    font-size: 1.2rem;
} 
